{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
<div style="margin-left: 280px;">
    <h1>Create New Review</h1>

    {% include 'avis/_form.html.twig' with {'form': form} %}
    
    <a href="{{ path('app_avis_index') }}">Back to list</a>
</div>
{% endblock %}
