{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% set show_vr = false %}
{% set show_docs = false %}

{% block body %}
    <div>
        <h1>Maintenance</h1>
        <p>Welcome to the Maintenance!</p>
    </div>
{% endblock %}